body {
    font-family:'Abyssinica SIL', serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.container-2{
    width: 959px;
    margin-left: auto;
    margin-right: auto;
}