body{
    font-family:'Abyssinica SIL', serif;
}
*{
    box-sizing: border-box;
}
.container{     
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
/* start header */
header{
    padding-top: 36px;
    padding-bottom: 37px;
}
header .content-header{
    font-size: 18px;
    line-height: calc(21.6 / 18);
}
.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color:  #231F20;
    text-decoration: none;
    font-style: italic;
}
.list{
    display: flex;
    gap: 31px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: #000000;
}
.button-head{
    width: 150px;
    height: 43.5px;
    color: #F7941E;
    border: 1px solid #F7941E;
    border-radius: 5px;
    background-color: #FFFFFF;
    
}
/* end header */

/* start section */
.find{
    background: #F1F1F2;
    padding-top: 69px;
    padding-bottom: 76px;
}
.find > div{
    display: flex;
    gap: 169px;
}
.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 56px;
    line-height: calc(69 / 56);
    margin-bottom: 36px;
}
.find p{
    font-size: 20px;
    line-height: 140.62%;
    margin-bottom: 52px;
}
.button-section{
    font-size: 18px;
    line-height: calc(22 / 18);
    color: #FFFFFF;
    background-color: #F7941E;
    border-radius: 5px;
    border-color: #F7941E;
    width: 200px;
    height: 60px;
    margin-bottom: 208px;
}
.newlyweds{
    width: 570px;
    margin-bottom: 75px;
}
/* end section */
