.find {
    background: #F1F1F2;
    padding-top: 69px;
    padding-bottom: 76px;
}

.find__container {
    display: flex;
    gap: 169px;
    align-items: flex-start
}

.find__title {
    font-size: 56px;
    line-height: calc(69 / 56);
    margin-bottom: 36px;
}

.find__text {
    font-size: 20px;
    line-height: 140.62%;
    margin-bottom: 52px;
}

.find__button {
    font-size: 18px;
    line-height: calc(22 / 18);
    color: #FFFFFF;
    background-color: #F7941E;
    border-radius: 5px;
    border-color: #F7941E;
    padding: 20px 24px 18px 25px;
}

.find__image {
    width: 570px;
}