.footer {
    padding-top: 106px;
    padding-bottom: 35px;
    background-color: #FAFAFA;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__nav {
    display: flex;
    gap: 141px;
    margin-bottom: 43px;
}

.footer__list {
    display: flex;
    gap: 81px;
    align-items: center;
}

.footer__link {
    font-size: 14px;
    line-height: calc(20 / 14);
    font-weight: 600;
}

.footer__logo {
    font-family: 'Homemade Apple', cursive;
    color: #F7941E;
    font-size: 18px;
    line-height: calc(39 / 18);
    text-decoration: none;
}

.footer__list-links {
    display: flex;
    gap: 25px;
    margin-bottom: 73px;
}

.footer__underline {
    border: 1px solid #000000;
    width: 1000px;
    margin-bottom: 56px;
}